<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>To-Do-List</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<h1>To Do List</h1>
<form method="post" hx-post="/tasks" hx-target="#taskList">
    <label>
        <input type="text" name="description" placeholder="New task" required>
    </label>
    <label>
        <input type="date" name="deadline" placeholder="Deadline Date" required>
    </label>
    <label>
        <select name="status" required>
            <option value="WAITING">Waiting</option>
            <option value="IN_PROGRESS">In Progress</option>
            <option value="DONE">Done</option>
        </select>
    </label>
    <button type="submit">Add</button>
</form>

<table>
    <thead>
    <tr>
        <th>Task</th>
        <th>Deadline</th>
        <th>Status</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody id="taskList" hx-get="/tasks" hx-target="#taskList">
    <tr th:each="task : ${tasks}">
        <td th:text="${task.description}"></td>
        <td th:text="${#dates.format(task.deadline, 'yyyy-MM-dd')}"></td>
        <td th:text="${task.status}"></td>
        <td>
            <form th:action="@{/tasks/update-status/{id}(id=${task.id})}" method="post" hx-post="/tasks" hx-target="#taskList" style="display: flex; align-items: center; gap: 10px;">
                <label>
                    <select name="status" style="font-size: 14px;">
                        <option value="WAITING" th:selected="${task.status == 'WAITING'}">Waiting</option>
                        <option value="IN_PROGRESS" th:selected="${task.status == 'IN_PROGRESS'}">In Progress</option>
                        <option value="DONE" th:selected="${task.status == 'DONE'}">Done</option>
                    </select>
                </label>
                <button type="submit" style="background-color: #008CBA; padding: 5px 10px; color: white; border: none; border-radius: 5px;">
                    Update
                </button>
            </form>
        </td>
        <td>
            <form th:action="@{/tasks/delete/{id}(id=${task.id})}" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
